.search-field {
    width: 100vw;
    height: 64px;
    background-color: rgb(231, 226, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    input{
        width: 280px;
        height: 32px;
        border: 1px solid rgba(66, 3, 66, 0.333);
        border-radius: 16px;
        outline: none;
        color: rgb(238, 5, 219);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 12px;
    }
    button {
        background-color: rgb(238, 5, 219);
        border: none;
        color: #FFF;
        font-size: 16px;
        font-weight: 600;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 32px;
    }
}